<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
</head>
<body>
    <div style="background-color: cadetblue;"><h4><b>GALLERY CITY<b/></h4>
    <h3>Profile artist: {{artist.name}}</h3>
    <h4>Address: {{artist.address}} </h4>
    <img src="{{artist.img.url}}" width="100" height="100"><br>
    <a href="../">Home</a><br>
    <a href="../logout">Logout</a>

    </div>
        <div>
			<div style="width: 22%; height: 750;float: left;text-align: center;padding-top: 6;">
				<ul style="text-align:left; font-size:25">
                <a href="/artist"><h2>Management</h2></a><br>
                <a href="/artist/work_manage"><h2>Manage work</h2></a><br>
                <a href="/artist/add_work"><h2>Add work</h2></a><br>
                <a href="/artist/request"><h2>Sequested information</h2></a><br>
                <a href="/artist/setting"><h2>Setting</h2></a><br>
				</ul>
		    </div>
		    <div id="did1_2" style="width:78%;float:left;background: #afd3e8">
                {% block content %}
                {% endblock %}
			</div>
		</div>
    </h4>
</body>
</html>