<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting information</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" value="{{context.0}}"><br>
        <br>
        <input type="file" name="img"><br>
        <br>
        <input type="text" name="address" value="{{context.1}}"><br>
        <br>
        <input type="date" name="birthday" value="{{context.2}}" ><br>
        <br>
        <input type="text" name="bio" value="{{context.3}}"><br>
        <br>
        <input type="text" name="education" value="{{context.4}}"><br>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>