{% extends 'artist/base.html' %}
{% block content %}
     <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <label>Name</label><input type="text" name="name" value="{{work.name}}"><br>
        <br>
        <label for="type">Execution:</label>
		<select name="type" id="type">
			<option value="paint">Paint</option>
			<option value="watercolor">Watercolor</option>
			<option value="sculpture">Sculpture</option>
		</select><br>
        <label>Height</label><input type="number" name="height" value="{{work.height}}"><br>
        <br>
        <label>Width</label><input type="number" name="width" value="{{work.width}}"><br>
        <br>
        <label>Volume</label><input type="number" name="volume" value="{{work.volume}}"><br>
        <br>
        <input type="file" name="img"><br><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}
