{% extends 'owner/base.html' %}
{% block content %}
<h3>Name: {{exhibit.name}}</h3>
<h3>Time takes place: from {{exhibit.start_time}} to {{exhibit.end_time}}</h3>
<h3>Price: {{exhibit.price}}$     Sold: {{exhibit.quantity_sold}}/{{exhibit.num_of_tickets}} </h3>
<div id="result">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name='content' placeholder="Please leave an invitation for them to attend"><br>
        {% for artist in artists %}
        <input type="checkbox" name="artist" value="{{artist.user_id}}">{{artist.name}}<br/>
        {% endfor %}
        <button type="submit">Send</button>
    </form>

</select>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}
