<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" value="{{context.0}}"><br>
        <br>
        <input type="file" name="img"><br>
        <br>
        <input type="text" name="address" value="{{context.1}}"><br>
        <br>
        <input type="text" name="numphone" value="{{context.2}}" ><br>
        <br>
        <button type="submit">{{button}}</button>
    </form>
</body>
</html>