{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		h5 {
			color: red;
		}
	</style>
	<link rel="stylesheet" href="{% static 'core/styles/sign_pages.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

	<div class="wrapper">
		<form action="" , method="POST">
			{% csrf_token %}

			{% for mes in messages %}
			<h5>{{mes}}</h5>
			{% endfor %}
			{% csrf_token %}

			<h1>Sign Up</h1>

			<div class="input-box">
				<input type="text" name="username" placeholder="Username" required>
			</div>

			<div class="input-box">
				<input type="text" name="email" placeholder="Email" required>
			</div>

			<div class="input-box">
				<input type="password" name="password" placeholder="Password" required>
			</div>

			<div class="input-box">
				<input type="password" name="password2" placeholder="Confirm Password" required>
			</div>

			<div class="input-box">
				<label style="color:#102c57;margin-left:10px" for="type">You are: </label>
				<select name="type" id="select-box"
					style="background-color: #102c57;color:#f8f0e5;font-size:14px;padding:5px;border-radius:8px;"
					required>
					<option value="" selected disabled hidden>Choose account type</option>
					<option value="customer">Customer</option>
					<option value="artist">Artist</option>
					<option value="owner">Owner</option>
				</select>
			</div>

			<button type="submit" class="btn">
				<p>Sign Up</p>
			</button>

			<div class="register-link">
				<p>Already have an account? <a href="{% url 'core:signin' %}">Sign In</a></p>
			</div>

		</form>
	</div>

</body>

</html>