$base-color1: #102C57;
$base-color2: #DAC0A3;
$base-color3: #EADBC8;
$base-color4: #F8F0E5;

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $base-color2;
    background-size: cover;
    background-position: center;

}

.wrapper {
    width: 420px;
    background: $base-color1;
    color: $base-color2;
    border-radius: 10px;
    padding: 30px 40px;

    h1 {
        color: $base-color4;
        font-size: 36px;
        text-align: center;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;

        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255,255,255,.2);
            border-radius: 40px;
            font-size: 16px;
            color: $base-color4;
            padding: 20px 25px 20px 20px;
        }

        input::placeholder {
            color: $base-color4;
        }

        i {
            color: $base-color4;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }

    .remember-forgot {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;

        label {
            color: $base-color4;
        }

        label input {
            color: $base-color4;
            accent-color: $base-color4;
            margin-right: 3px;
        }

        a {
            color: $base-color4;
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline;
        }
    }

    .btn {
        width: 100%;
        height: 45px;
        background: $base-color4;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
    }

    .register-link {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;

        p {
            color: $base-color4;
        }

        p a {
            color: $base-color4;
            text-decoration: none;
            font-weight: 600;
        }

        p a:hover {
            text-decoration: underline;
        }
    }
}